// Файл обнуляючих стилів
@import "nullstyle.scss";

// Імпорт шрифтів
// Syncopate
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900&family=Michroma&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



// Токени кольорів
$dark-blue: #14213D;
$white: #ffffff;
$black: #000000;


//Хедер і всі його стилі
.header {
  width: 100%;
  height: 72px;
  background-color: $dark-blue;

  &__container {
    padding: 16px 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px
  }

  &__burger-menu {
    width: 40px;
    height: 40px;
    background-image: url('../../img/icons/header/burger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    box-shadow: none;
    transition: background-image 0.3s;

    &:hover {
      background-image: url('../../img/icons/header/burger-menu-hover.svg');
    }

    &:focus,
    &:active {
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }

  &__nuxent-logo {
    width: 200px;
    height: 40.6px;
    background-image: url('../../img/logotypes/logo.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    box-shadow: none;
    display: block;
    transition: background-image 0.3s;

    &:hover {
      background-image: url('../../img/logotypes/logo-hover.png');
      transform: none;
    }

    &:focus,
    &:active {
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }

  &__search-wrapper{
    position: relative;
    max-width: 1059px;
    min-width: 200px;
    flex: 1 1 auto;
  }

  .header__search-field {
  width: 100%; // Занимает всю ширину обёртки
  width: calc(100% - 44px);
  height: 40px;
  padding: 0 28px 0 14px;
  margin-left: 18px;
  background-color: $white;
  font-family: 'Inter';
  font-size: 16px;
  border-radius: 250px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

  .header__search-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 44px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url('../../img/icons/header/search-button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding: 0;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  transition: background-image 0.3s;

  &:hover {
    background-image: url('../../img/icons/header/search-button-hover.svg');
  }
}

    &__catalog-button{
    width: 115px;
    height: 40px;
    background-image: url('../../img/icons/header/catalog-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0px 0px 0px 18px;
    cursor: pointer;
    appearance: none;
    box-shadow: none;
    transition: background-image 0.3s;

    &:hover {
      background-image: url('../../img/icons/header/catalog-button-hover.svg');
        }
    }

    &__profile-button{
    width: 40px;
    height: 40px;
    background-image: url('../../img/icons/header/profile-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    box-shadow: none;
    transition: background-image 0.3s;

    &:hover {
      background-image: url('../../img/icons/header/profile-button-hover.svg');
        }
    }

    &__cart-button{
    width: 40px;
    height: 40px;
    background-image: url('../../img/icons/header/cart-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    box-shadow: none;
    transition: background-image 0.3s;

    &:hover {
      background-image: url('../../img/icons/header/cart-button-hover.svg');
        }
    }

}


//Блок знижок і всі його стилі

//Контейнер для всіх discount карточок
.discounts{
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: 44px auto 128px auto;

  &__discounts-container{
    position: relative;
    width: 100%;
    max-width: 1640px;
    height: 634px;
    display: flex;
    margin: 0px 140px;
    justify-content: center;
  }

  &__card-container{
    position: relative;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 948px;
    height: 100%;
    max-height: 634px;
    border-radius: 35px;
    margin: 0px 154px;
  }

  &__card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../../img/icons/discounts/big-card-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.25));
  border-radius: 35px;
  pointer-events: none; // важно, чтобы не перекрывал кнопки
}

  &__card-content{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-width: 948px;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }

  &__arrow-switcher{
    display: flex;
  }

  &__arrow-switcher_left{
    width: 11px;
    height: 20px;
    background-image: url(../../img/icons/discounts/arrow-switcher-left.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/discounts/arrow-switcher-left-hover.svg);
    }

  }

  &__arrow-switcher_right{
    width: 11px;
    height: 20px;
    background-image: url(../../img/icons/discounts/arrow-switcher-right.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/discounts/arrow-switcher-right-hover.svg);
    }

  }

  &__details-btn{
    background-image: url(../../img/icons/discounts/more-details-btn.png);
    display: flex;
    width: 292px;
    height: 52px;
    border-radius: 250px;
    color: $black;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 5px;
    

    &:hover{
      background-image: url(../../img/icons/discounts/more-details-btn-hover.png);
      color: $white;
    }
  }

  &__small-cards-container{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1640px;
    height: 100%;
    max-height: 506px;
    border-radius: 35px;
    z-index: -2;
  }

  &__small-card-flex-container{
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    width: 100%;
    max-height: 506px;
    height: 100%;
  }

  &__small-card-bg_left{
    background-image: url(../../img/icons/discounts/small-card-bg-left.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
    pointer-events: none;
  }

  &__small-card-bg_right{
    background-image: url(../../img/icons/discounts/small-card-bg-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
    pointer-events: none;
  }

}

.top-brands{
  margin: 0 auto;
  display: flex;
  position: relative;
  max-width: calc(100% - 280px);
  width: 100%;
  height: 106px;
  &__container{
  margin: 0px auto;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1640px;
  width: 100%;
  height: 106px;
  justify-content: space-between;
  }

  &__flex-container{
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1640px;
  width: 100%;
  height: 106px;
  }

  &__text-container{
    max-width: 219px;
    width: 100%;
    height: 61px;
  }

  &__text-body{
    color: $black;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text-h1{
    color: $black;
    font-family: 'Syncopate';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__line{
    display: flex;
    max-width: 1640px;
    width: 100%;
    height: 3px;
    background-color: #484848;
    opacity: 0.15;
  }

  &__logotypes-flex-container{
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 762.17px;
    width: 100%;
    max-height: 40px;
    height: 100%;
  }

  &__unitree-logo{
    background-image: url(../../img/icons/top-brands/unitree-logo.png);
    max-width: 203.33px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background-color: transparent;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/top-brands/unitree-logo-hover.png);
    }
  }

  &__irobot-logo{
    background-image: url(../../img/icons/top-brands/irobot-logo.png);
    max-width: 213.33px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background-color: transparent;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/top-brands/irobot-logo-hover.png);
    }    
  }

  &__roborock-logo{
    background-image: url(../../img/icons/top-brands/roborock-logo.png);
    max-width: 161.51px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background-color: transparent;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/top-brands/roborock-logo-hover.png);
    }  
  }

  &__vertical-line{
    align-items: center;
    background-color: #484848;
    opacity: 0.15;
    max-width: 3px;
    width: 100%;
    max-height: 24px;
  }

}

.popular-products{
  margin: 128px auto 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: calc(100% - 260px);
  max-height: 678px;
  height: 100%;

  
  &__top-text{
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    top: 0;
  }

  &__title{
    color: $black;
    font-family: 'Syncopate';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__cta-text{
    background-image: url(../../img/icons/popular-products/discover-all-link.png);
    max-width: 212px;
    width: 100%;
    max-height: 32px;
    height: 100%;
    background-color: transparent;
    transition: background-image 0.3s;

    &:hover{
      background-image: url(../../img/icons/popular-products/discover-all-link-hover.png);
    } 
  }

  &__cards-container{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    justify-content: flex-start;
    width: 100%;
    max-height: 600px;
    height: 600px;
    filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.25));
  }

  &__card_left{
    background-image: url(../../img/icons/popular-products/product-card-bg.png);
    background-size: 100% 100%;
    position: relative;
    width: auto;
    min-width: 0;
    background-repeat: no-repeat;
    min-width: 150px;
    max-width: 810px;
    flex-grow: 1;
    border-radius: 35px;
  }

  &__card_right{
    background-image: url(../../img/icons/popular-products/product-card-bg.png);
    background-size: 100% 100%;
    position: relative;
    width: auto;
    min-width: 0;
    background-repeat: no-repeat;
    min-width: 150px;
    max-width: 810px;
    flex-grow: 1;
    border-radius: 35px;
  }
  

}

